[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyarrow = "*"
dbt-bigquery = "*"
dagster = "*"
dagster-dbt = "*"

[dev-packages]
ipykernel = "*"
kaggle = "*"
sqlfluff = "*"
pre-commit = "*"
sqlfluff-templater-dbt = "*"
dagit = "*"

[requires]
python_version = "3.11"
